Source: psrchive
Section: science
Priority: optional
Maintainer: Gijs Molenaar (launchpad ppa build key) <gijs@pythonic.nl>
Build-Depends: debhelper (>=9), libfftw3-dev, libpgsbox5, libcfitsio-dev
Standards-Version: 3.9.6
Homepage: http://psrchive.sourceforge.net/

Package: psrchive
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: C++ development library for the analysis of pulsar astronomical data
