#!/usr/bin/make -f

%:
	dh $@ --with autoreconf,python2 --parallel

override_dh_auto_build:
	dh_auto_build
	dh_auto_build --  -C More/Plotting

override_dh_auto_configure:
	dh_auto_configure -- --enable-shared --with-x

override_dh_auto_install:
	dh_auto_install
	dh_auto_install -- -C More/Plotting

