#!/usr/bin/make -f

%:
	dh $@ --with autoreconf --parallel

override_dh_auto_build:
	dh_auto_build
	dh_auto_build --  -C More/Plotting

override_dh_auto_install:
	dh_auto_install
	dh_auto_install -- -C More/Plotting

